@reference "tailwindcss";

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
input[type="range"]::-webkit-slider-runnable-track {
  @apply w-full bg-[#262626] border-2 border-[#4A4A4A];
  height: 1.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5rem;
  @apply h-9 w-4 bg-gray-300 border-2 border-black;
  box-shadow: 4px 0px 0px #000;
}

/*********** Firefox styles ***********/
input[type="range"]::-moz-range-track {
  @apply bg-[#262626] border-2 border-[#4A4A4A];
  height: 1.5rem;
}

input[type="range"]::-moz-range-thumb {
  @apply h-9 w-4 bg-gray-300 border-2 border-black;
  border-radius: 0;
  box-shadow: 4px 0px 0px #000;
}
