select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding-right: 20px;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='0.8em' height='0.8em'><g xmlns='http://www.w3.org/2000/svg' transform='matrix(0 -1 1 0 -0 1024)'><path fill='rgb(209, 213, 219)' d='M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281l360-281.1c3.8-3 6.1-7.7 6.1-12.6' /></g></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
}

/* browsers Microsoft */
select::-ms-expand {
  display: none;
}
