---
import Dashboard from '@components/Dashboard'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
	</head>
	<body>
		<Dashboard client:load />
		<h1 id='genre'></h1>
		<h1 id='weight'></h1>
		<h1 id='height'></h1>
		<h1 id='age'></h1>
	</body>
</html>
<script>
	import { $userAttributes } from '@store/user-attributes'
	const userGenre = document.querySelector<HTMLInputElement>('#genre') as HTMLInputElement
	const userWeight = document.querySelector<HTMLInputElement>('#weight') as HTMLInputElement
	const userHeight = document.querySelector<HTMLInputElement>('#height') as HTMLInputElement
	const userAge = document.querySelector<HTMLInputElement>('#age') as HTMLInputElement

	$userAttributes.subscribe((userAttributes) => {
		console.log('userAttributes', userAttributes)
		const { genre, weight, height, age } = userAttributes

		userGenre.textContent = genre
		userWeight.textContent = weight + ''
		userHeight.textContent = height + ''
		userAge.textContent = age + ''
	})
</script>
