---
import { AdditionalSettings } from '@components/AdditionalSettings'
import ChartMacros from '@components/ChartMacros.astro'
import { Dashboard } from '@components/Dashboard'
import { ExerciseMultiplier } from '@components/ExerciseMultiplier'
import { GoalSelector } from '@components/GoalSelector'
import '@styles/selects.css'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/macronutrients/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<title>MacroCalc</title>
		<meta name='title' content='Macronutrients' />
		<meta name='description' content='MacroCalc is a website to calculate the macronutrients that you need' />
		<meta
			name='keywords'
			content='macronutrients,macronutrients calculation,proteins,proteins calculation,carbs carbs calculation,fats,fats calculation'
		/>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta name='language' content='English' />
		<meta name='author' content='Alberto García Sola' />
	</head>
	<body class='mx-auto mt-4 w-full max-w-screen-xl p-2 text-slate-700'>
		<div class='mx-auto lg:w-1/2 xl:w-[40%] 2xl:w-1/3'>
			<div class='flex flex-col gap-6'>
				<div>
					<Dashboard client:load />
				</div>
				<div>
					<ExerciseMultiplier client:load />
				</div>
				<div>
					<GoalSelector client:load />
				</div>
				<div>
					<ChartMacros />
				</div>
				<AdditionalSettings client:load />
			</div>
			<!-- <Development client:load /> -->
		</div>
	</body>
</html>
