---
import { BMRSelector } from '@components/BMRSelector'
import ChartMacros from '@components/ChartMacros.astro'
import { Dashboard } from '@components/Dashboard'
import { GoalSelector } from '@components/GoalSelector'
import { LBMSelector } from '@components/LBMSelector'
import '@styles/selects.css'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
	</head>
	<body class='mx-auto w-full max-w-screen-xl p-2'>
		<div class='mx-auto lg:w-1/2 xl:w-[40%] 2xl:w-1/3'>
			<div class='flex flex-col gap-6'>
				<div>
					<Dashboard client:load />
				</div>
				<div>
					<GoalSelector client:load />
				</div>
				<div>
					<ChartMacros />
				</div>
				<div>
					<LBMSelector client:load />
				</div>
				<div>
					<BMRSelector client:load />
				</div>
			</div>
			<!-- <Development client:load /> -->
		</div>
	</body>
</html>
