---
import { AdditionalSettings } from '@components/AdditionalSettings'
import { AppBootstrap } from '@components/AppBootstrap'
import ChartMacros from '@components/ChartMacros.astro'
import { Dashboard } from '@components/Dashboard'
import { ExerciseMultiplier } from '@components/ExerciseMultiplier'
import { GoalSelector } from '@components/GoalSelector'
import '@styles/selects.css'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/macronutrients/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<title>MacroCalc</title>
		<meta name='title' content='Macronutrients' />
		<meta name='description' content='MacroCalc is a website to calculate the macronutrients that you need' />
		<meta
			name='keywords'
			content='macronutrients,macronutrients calculation,proteins,proteins calculation,carbs carbs calculation,fats,fats calculation'
		/>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta name='language' content='English' />
		<meta name='author' content='Alberto García Sola' />
	</head>
	<body class='mx-auto w-full max-w-screen-xl text-slate-700'>
		<div class='z-10 mx-auto lg:w-1/2 xl:w-[40%]'>
			<div class='flex flex-col justify-start gap-6 p-2 md:justify-center'>
				<AppBootstrap client:load />
				<div>
					<Dashboard client:load />
				</div>
				<div>
					<ExerciseMultiplier client:load />
				</div>
				<div>
					<GoalSelector client:load />
				</div>
				<div>
					<ChartMacros />
				</div>
				<AdditionalSettings client:load />
			</div>
			<!-- <Development client:load /> -->
		</div>
		<div class='background'></div>
	</body>
	<style>
		.background {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.background::before {
			animation-name: bounce;
			animation-duration: 3.6s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;

			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 105%;
			background-image: url('/macronutrients/background.svg');
			background-size: cover;
			background-position: center;
			background-origin: center;
			opacity: 0.2;
			z-index: -1;
		}

		@keyframes bounce {
			from {
				transform: translate(0, 0);
			}
			50% {
				transform: translate(0, -0.402777775rem);
			}
			to {
				transform: translate(0, 0);
			}
		}
	</style>
</html>
