---
import { InfoContent } from '@components/InfoContent'
import '@styles/global.css'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/macronutrients/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,800&display=swap' rel='stylesheet' />
		<title>MacroCalc — Info</title>
	</head>
	<body class='min-h-screen bg-[#0A0A0A] text-gray-100'>
		<div class='mx-auto w-full max-w-xl p-4 md:p-8'>
			<InfoContent client:load />
		</div>

		<script>
			import { $locale } from '@store/locale'
			$locale.subscribe((locale) => {
				document.documentElement.lang = locale
			})
		</script>
	</body>
</html>
