---

---

<div class='mx-auto w-full'><canvas id='chart'></canvas></div>
<script>
	import { calculateMacroTargets } from '@macronutrients/core'
	import { $userAttributes } from '@store/user-attributes'
	import { chartConfiguration } from '@utils/chart-config'
	import { getChartTitle, getLabels } from '@utils/chart-functions'
	import Chart, { type ChartItem } from 'chart.js/auto'
	import { listenKeys } from 'nanostores'
	const chartElement = document.getElementById('chart') as ChartItem

	const chart = new Chart(chartElement, chartConfiguration)

	listenKeys($userAttributes, ['goal', 'lbm', 'bmrAndExercise'], ({ bmrAndExercise, lbm, goal }) => {
		const targets = calculateMacroTargets({ goal, lbmKg: lbm.lbmKg, bmrAndExercise })

		chart.data.labels = getLabels(targets.carbsGrams, targets.fatsGrams, targets.proteinsGrams)
		if (chart.options.plugins?.title?.text) {
			chart.options.plugins.title.text = getChartTitle(targets.kcalPerDay)
		}
		if (chart.data.datasets[0]?.data) {
			chart.data.datasets[0].data = [targets.carbsKcal, targets.fatsKcal, targets.proteinsKcal]
		}

		chart.update()
	})
</script>
