---

---

<div class='notion-card overflow-hidden p-6'>
	<p id='chart-label' class='text-warm-gray-300 mb-4 text-xs font-semibold' style='letter-spacing: 0.125px;'></p>
	<div class='mx-auto w-full' style='height: 16rem;'><canvas id='chart'></canvas></div>
</div>
<script>
	import { $userAttributes } from '@store/user-attributes'
	import { $locale } from '@store/locale'
	import { calculateMacros } from '@utils/macro-functions'
	import { chartConfiguration } from '@utils/chart-config'
	import { getChartTitle, getLabels } from '@utils/chart-functions'
	import { getTranslations } from '@i18n/index'
	import Chart, { type ChartItem } from 'chart.js/auto'
	import { listenKeys } from 'nanostores'

	const chartElement = document.getElementById('chart') as ChartItem
	const chartLabelEl = document.getElementById('chart-label')

	const chart = new Chart(chartElement, chartConfiguration)

	let pendingFrame: number | null = null
	function scheduleChartUpdate() {
		if (pendingFrame !== null) cancelAnimationFrame(pendingFrame)
		pendingFrame = requestAnimationFrame(() => {
			pendingFrame = null
			const { bmrAndExercise, lbm, goal } = $userAttributes.get()
			const t = getTranslations()
			const { proteinGrams, fatGrams, carbGrams, kcalPerDay } = calculateMacros(goal, lbm, bmrAndExercise)

			chart.data.labels = getLabels(carbGrams, fatGrams, proteinGrams, t)
			if (chart.options.plugins?.title?.text) {
				chart.options.plugins.title.text = getChartTitle(kcalPerDay, t)
			}
			if (chart.data.datasets[0]?.data) {
				chart.data.datasets[0].data = [carbGrams * 4, fatGrams * 9, proteinGrams * 4]
			}
			if (chartLabelEl) {
				chartLabelEl.textContent = t.daily_caloric_quota
			}

			chart.update()
		})
	}

	listenKeys($userAttributes, ['goal', 'lbm', 'bmrAndExercise'], scheduleChartUpdate)
	$locale.listen(scheduleChartUpdate)
</script>
