---

---

<div class='mx-auto w-full'><canvas id='chart'></canvas></div>
<script>
	import { defaultCarbs, defaultFats, defaultProteins } from '@lib/defaults'
	import {
		gramsOfFatsInDefinition,
		gramsOfProteinsInDefinition,
		gramsOfProteinsInMaintain,
		gramsOfProteinsInSurplus,
		percentageOfFatsInSurplus,
	} from '@lib/settings'
	import { $userAttributes } from '@store/user-attributes'
	import Chart, { type ChartItem } from 'chart.js/auto'
	import { listenKeys } from 'nanostores'
	const chartElement = document.getElementById('chart') as ChartItem

	const chart = new Chart(chartElement, {
		type: 'pie',
		data: {
			labels: ['ðŸš Carbs', 'ðŸ¥‘ Fat', 'ðŸ£ Protein'],
			datasets: [
				{
					// label: 'My First Dataset',
					data: [defaultCarbs, defaultFats, defaultProteins],
					backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)'],
					hoverOffset: 4,
				},
			],
		},
	})

	listenKeys($userAttributes, ['goal', 'lbm', 'bmrAndExercise'], ({ bmrAndExercise, lbm, goal }) => {
		let proteins = 0
		let fats = 0
		let carbs = 0

		switch (goal) {
			case 'Maintain':
				proteins = gramsOfProteinsInMaintain * lbm.lbmKg
				fats = lbm.lbmKg
				carbs = (bmrAndExercise.kcalPerDayToMaintain - (proteins * 4 + fats * 9)) / 4
				break
			case 'Surplus':
				proteins = gramsOfProteinsInSurplus * lbm.lbmKg
				fats = (percentageOfFatsInSurplus * bmrAndExercise.kcalPerDayToSurplus) / 9
				carbs = (bmrAndExercise.kcalPerDayToSurplus - (proteins * 4 + fats * 9)) / 4
				break
			case 'Definition':
				proteins = gramsOfProteinsInDefinition * lbm.lbmKg
				fats = gramsOfFatsInDefinition * lbm.lbmKg
				carbs = (bmrAndExercise.kcalPerDayToDefinition - (proteins * 4 + fats * 9)) / 4
				break
		}

		proteins = Math.round(proteins)
		fats = Math.round(fats)
		carbs = Math.round(carbs)

		if (chart.data.datasets[0]?.data) {
			chart.data.datasets[0].data = [carbs, fats, proteins]
			chart.update()
		}
	})
</script>
